!.vscode/extensions.json
.angular/
.DS_Store
.DS_Store/
.env*
.idea
.idea/
.kilocode/
.sass-cache/
.specify/
.venv/
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
adk-env/
adk-samples/
app/**/*.js
app/**/*.js.map
bower_components/
connect.lock/
coverage/
dist
dist-ssr
dist/
e2e/*.js
e2e/*.map
lerna-debug.log*
libpeerconnection.log/
logs
node_modules/
npm-debug.log*
plans/
pnpm-debug.log*
reference_implementation/
specs/
testem.log
tmp/
typings/
yarn-debug.log*
yarn-error.log*